.bg{
    background: repeating-linear-gradient(
        90deg,
        whitesmoke, 
        whitesmoke 10%, 
        #ecbb93 10%, 
        #ecbb93 91%
    )
    
}
main{
    text-align: center;
    margin-top: 5%;
    font-family: "Open Sans";
    color: #472509;
}
h1{
    font-size: 4em;
    font-family: "Montserrat";
    color: whitesmoke;
    text-shadow: -1px 1px 0 #9b5013,
                1px 1px 0 #9b5013,
                1px -1px 0 #9b5013,
                -1px -1px 0 #9b5013;
    
}
div.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}
#bill, #tip, #people{
    font-size: 1em;
    padding: 5%;
    text-align: center;
}
p{
    padding-left: 1%;
}
div {
    font-size: 2em;
}
#totals ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.card p {
    font-size: 2em;
    padding-right: 1.5%;
}
#final {
    margin-bottom: 0%;
}
.card p:nth-child(2) {
    font-size: xx-small;
    margin-top: 0;
    margin-bottom: 18px;
}
.card {
    width: 300px;
    margin: 1em;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #c2895b;
    padding-bottom: 20px;
}
.card div{
    color: rgb(233, 89, 64);
}
.boxes {
    background-color: #f5f5f5b4;
    margin-left: -2%;
    margin-right: -2%;
    border-style: solid;
    border-color: #c2895b;
    border-width: 1px;
}
input {
    border-color: #c2895b;
    border-style: solid;
    border-width: 2px;
    color: #472509;
    font-family: "Open Sans";
}